<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>EmployeeManagementSystem</display-name>
	<servlet>
		<servlet-name>AddEmployee</servlet-name>
		<display-name>AddEmployee</display-name>
		<description></description>
		<servlet-class>com.ems.controller.AddEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateEmployee</servlet-name>
		<display-name>UpdateEmployee</display-name>
		<description></description>
		<servlet-class>com.ems.controller.UpdateEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteEmployee</servlet-name>
		<display-name>DeleteEmployee</display-name>
		<description></description>
		<servlet-class>com.ems.controller.DeleteEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewEmployee</servlet-name>
		<display-name>ViewEmployee</display-name>
		<description></description>
		<servlet-class>com.ems.controller.ViewEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<display-name>LoginPage</display-name>
		<description></description>
		<servlet-class>com.ems.controller.LoginPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditEmployee</servlet-name>
		<display-name>EditEmployee</display-name>
		<description></description>
		<servlet-class>com.ems.controller.EditEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmployee</servlet-name>
		<url-pattern>/AddEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmployee</servlet-name>
		<url-pattern>/UpdateEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEmployee</servlet-name>
		<url-pattern>/DeleteEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewEmployee</servlet-name>
		<url-pattern>/ViewEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditEmployee</servlet-name>
		<url-pattern>/EditEmployee</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		
	</welcome-file-list>
</web-app>
